<h2>Add a New Celebrity</h2>

<form method="post" action="/celebrities/create">
    <input type="text" placeholder="Celeb Name" name="name"/>
    <input type="text" placeholder="Celeb Occupation" name="occupation"/>
    <input type="text" placeholder="Celeb Catch Phrase" name="catchPhrase"/>
    <button type="Submit">Add</button>
</form>