<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<div>
    <a href="/celebrities/create">Add a new celebrity to your list</a>
</div>

<div>
    <a href="/celebrities">Check out your celebrity list</a>
</div>

<div>
    <a href="/movies/create">Add a new movie to your list</a>
</div>

<div>
    <a href="/movies">Check out your movies list</a>
</div>
