<h2>Add a New Movie</h2>

<form method="post" action="/movies/create">
    <input type="text" placeholder="Movie Title" name="title"/>
    <input type="text" placeholder="Movie Genre" name="genre"/>
    <input type="text" placeholder="Movie Plot" name="plot"/>
    <label for="cast">Choose cast members:</label>
    <select name="cast" id="cast" multiple>
    </select>
    <button type="Submit">Add</button>
</form>